.icono{
    color: #FFFFFF;
}

.footer{
    height: 50px;
    background: black;
    color: white;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Squirtle-color{
    background-color: rgb(3, 3, 247) !important; 
}
.rhyron-color{
    background-color: brown !important;
}
.img-slider{
height: 600px;
}